
<div class="container d-flex justify-content-center mt-5">
    <div class="card w-50 shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="card-body">
        <h2 class="mb-5">Add New Task</h2>
        <form [formGroup]="taskForm">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="Title">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Description</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="Description">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Due Date</label>
                <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="DueDate">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Priority</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="Priority">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="d-flex justify-content-around mt-5">
            <button type="submit" class="btn btn-primary" [disabled]="taskForm.invalid" (click)="onSubmit()">Submit</button>
            <button type="submit" class="btn btn-info" (click)="reset()">Reset</button>
        </div>
        </form>
    </div>
</div>
</div>